html {
    box-sizing: border-box;
    background-image: url("https://media.giphy.com/media/dwmNhd5H7YAz6/source.gif");
    background-size: contain;
}
*, *:before, *:after { 
    box-sizing: inherit;
    font-family: 'Amiri', sans-serif;
  }

.container h1{
    text-align: center;
    color: black;
    margin: 5;
    height: 20;
}
.entry-form{
    display: flex;
    flex-direction: column;
    height: 350px;
    border: 2px solid grey;
    border-radius: 3px;
    background-color: bisque;
    justify-content: space-around;
    border-radius: 60px;
    margin-top: 0;
    width: 95%;
    margin-left: 7px;

}
button{
    background-color: white;
    width: 50%;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}
.js-filter-button{
   width: 100px;
    margin-top: 10px;
}
.detailed-view-button{
    margin-bottom: 10px;
}

.delete-button{
    margin-bottom: 5px;
}
.js-rating-select-dropdown{
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
}
.js-bookmark-entry-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
ul{
    list-style: none;
    margin-left: 20px;
    
}
.js-bookmark-entry{
    border: 2px solid grey;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 60px; 
    width: 80%;
    background-color: bisque; 
   
}
.js-rating-filter{
   margin-left: 50px;
    width: 100%;
}
input{
    margin-top: 9px;
    margin-bottom: 9px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid black;
    width: 90%;
    height: 30px;
    border-radius: 20px;
}
.js-descript-input{
    height: 40px;
}
@media screen and (min-width: 1025px) {
    html {
        box-sizing: border-box;
        background-image: url("https://media.giphy.com/media/dwmNhd5H7YAz6/source.gif");
        background-size: contain;
    }
    *, *:before, *:after { 
        box-sizing: inherit;
        font-family: 'Amiri', sans-serif;
      }
    
    .container h1{
        text-align: center;
        color: black;
        margin: 5;
        height: 20;
    }
    .entry-form{
        display: flex;
        flex-direction: column;
        height: 350px;
        border: 2px solid grey;
        border-radius: 3px;
        background-color: bisque;
        justify-content: space-around;
        border-radius: 60px;
        margin-top: 0;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    
    }
    button{
        background-color: white;
        width: 50%;
        height: 25px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 30px;
    }
    .js-filter-button{
       width: 100px;
        margin-top: 10px;
    }
    .detailed-view-button{
        margin-bottom: 10px;
    }
    
    .delete-button{
        margin-bottom: 5px;
    }
    .js-rating-select-dropdown{
        border: 1px solid black;
        background-color: white;
        border-radius: 20px;
    }
    .js-bookmark-entry-form{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    ul{
        list-style: none;
    }
    .js-bookmark-entry{
        border: 2px solid grey;
        margin: 20px;
        border-radius: 60px; 
       width: 50%;
       background-color: bisque; 
       margin-left: 23.9%;
       margin-right: auto;
    }
    .js-rating-filter{
       margin-left: 50px;
        width: 100%;
    }
    input{
        margin-top: 9px;
        margin-bottom: 9px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border: 1px solid black;
        width: 90%;
        height: 30px;
        border-radius: 20px;
    }
    .js-descript-input{
        height: 40px;
    }
}